<%= form_for([:shopkeeper, @item], html: { multipart: true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><% if @item.errors.count > 1 %>
        <%= @item.errors.count %> <%= t(:errors_mult) %>
          <% else %> 
            <%= "1 error" %>
          <% end %>
      <%= t(:prohibited_item_from_save) + ":" %></h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label t(:name, :locale => :en) %><br>
    <%= f.text_field :name_en %><br>
  </p>
  <p>
    <%= f.label t(:name, :locale => :es) %><br>
    <%= f.text_field :name_es %><br>
  </p>

  <p>
    <%= f.label t(:legend, :locale => :en) %><br>
    <%= f.text_area :legend_en %><br>
  </p>
  <p>
    <%= f.label t(:legend, :locale => :es) %><br>
    <%= f.text_area :legend_es %><br>
  </p>

  <p>
    <%= f.label t(:effect, :locale => :en) %><br>
    <%= f.text_area :effect_en %><br>
  </p>
  <p>
    <%= f.label t(:effect, :locale => :es) %><br>
    <%= f.text_area :effect_es %><br>
  </p>
  <p>
    <%= f.label t(:stats, :locale => :en) %><br>
    <%= f.text_area :stats_en %><br>
  </p>
  <p>
    <%= f.label t(:stats, :locale => :es) %><br>
    <%= f.text_area :stats_es %><br>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %><br>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>
  <%= f.submit %>
<% end %>
