<% @title = "History of orders - Secret Shop" %>
<h1>These are all your orders that have been placed</h1>
<br>
<br>
<% @carts.each do |cart| %>
  <h4>Ordered on <%= cart.updated_at.localtime.strftime("%m/%d/%Y at %I:%M %p") %></h4>
  <h4>Total Price: <%= number_to_currency(cart.totalprice_dollars) %></h4>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <% cart.items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= number_to_currency(item.price_dollars) %></td>
        <td><%= cart.manifests.where(item_id: item.id).first.quantity %></td>
      </tr>
    <% end %>
  </table>
<% end %>
