<% @title = "Current cart - Secret Shop" %>
<h1>This is your cart</h1>
<h4>Total price: <%= number_to_currency(@cart.totalprice_dollars) %></h4>
<h4>List of items inside Cart</h4>
<br>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
<% @cart.items.each do |item| %>
  <tr>
    <th><%= link_to item.name, item %></th>
    <th><%= number_to_currency(item.price_dollars) %></th>
    <th><%= @cart.manifests(true).where(item_id: item.id).first.quantity %></th>
  </tr>
<% end %>
</table>

<%= link_to "Place Order", place_order_cart_path, class: "btn btn-primary" %>

