<% @title = t(:secret_shop) %>
<div class = "page-header">
  <h1><%=t :welcome_index_header %></h1>


<ul class="actions">
<% users_only do %>
  <li>
    <%= link_to t(:go_to_cart), cart_path(@cart), class: "btn btn-success" %>
  </li>
<% end %>

<% signed_users_only do %>
  <li>
    <%= link_to t(:go_to_placed_orders), carts_path, class: "btn btn-info" %>
  </li>
<% end %>

<% shopkeepers_only do %>
  <li>
    <%= link_to fa_icon("plus") + " " + t(:new_item), new_shopkeeper_item_path, class: "btn btn-success" %>
  </li>
<% end %>
</ul>
</div>
<br>
<br>
<table class="table">
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:price) %></th>
  </tr>
  <% @items.each do |f| %>
    <tr>
      <td><%= link_to f.name, f %></td>
      <td><%= number_to_currency(f.price_dollars) %></td>
    </tr>
  <% end %>
</table> 
