<h1>Welcome to the Secret Shop!</h1>


<li>
  <%= link_to "Go to cart", cart_path(@cart) %>
</li>
<li>
  <%= link_to "Go to placed orders", carts_path %>
</li>
<li>
  <%= link_to "New Item", new_item_path %>
</li>
<br>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% @items.each do |f| %>
    <tr>
      <td><%= link_to f.name, f %></td>
      <td><%= number_to_currency(f.price_dollars) %></td>
    </tr>
  <% end %>
</table> 
