<h1>Item <%= @item.name %></h1>
<% shopkeepers_only do %>
  <%= link_to "Delete Item", shopkeeper_item_path(@item), method: :delete,
    data: { confirm: "Are you sure you want to delete this item?" } %>
<% end %>
<p>
  Price: <%= number_to_currency(@item.price_dollars) %><br><br>
  Legend: <%= @item.legend %><br><br>
  Effect: <%= @item.effect %><br><br>
  Stats: <%= @item.stats %><br><br>
</p>
<ul class="actions">
<% users_only do %>
  <li>
    <%= link_to "Add item to cart", add_to_cart_item_path, class: "btn btn-primary" %>
  </li>
  <li>
    <%= link_to "Remove item from cart", remove_from_cart_item_path, class: "btn btn-danger" %>
  </li>
  <li>
    <%= link_to "Go to cart", cart_path(@cart) %>
  </li>
<% end %>
  <li>
    <%= link_to "Go back to item list", items_path %>
  </li>
</ul>

