<% @title = @item.name + " - Item - Secret Shop" %>
<div class="page-header">
  <h1><%= @item.name %></h1>
<ul class="actions">
<% users_only do %>
 <li>
    <%= link_to "Go to cart", cart_path(@cart), class: "btn btn-success" %>
  </li>
<% end %>
  <li>
    <%= link_to "Go back to item list", items_path, class: "btn btn-info" %>
  </li>
</ul>

</div>

<div class="bd-example">
 <ul class="actions2">
    <li><% shopkeepers_only do %>
    <%= link_to "Delete Item", shopkeeper_item_path(@item), method: :delete,
    data: { confirm: "Are you sure you want to delete this item?" } %>
<% end %></li>
<% users_only do %>
  <li>
    <%= link_to "Add item to cart", add_to_cart_item_path, class: "btn btn-primary" %>
  </li>
  <li>
    <%= link_to "Remove item from cart", remove_from_cart_item_path, class: "btn btn-danger" %>
  </li>
<% end %>
  </ul>

<dl>

  <dt>Price</dt>
  <dd><%= number_to_currency(@item.price_dollars) %></dd>
  <dt>Legend</dt>
  <dd><%= @item.legend %></dd>
  <dt>Effect</dt>
  <dd><%= @item.effect %></dd>
  <dt>Stats</dt>
  <dd><%= @item.stats %></dd>
</dl>

</div>
