<% @item = t(:shopkeepers_page) + " - " + t(:secret_shop) %>
<h2><%= t(:history_of_orders) + " " + t(:at_the_shop) %></h2>
<br>
<br>

<% @carts.each do |cart| %>
  <h4><%= t(:ordered_on) + ": " + cart.updated_at.localtime.strftime("%m/%d/%Y at %I:%M %p") %> by <%= cart.user.email %></h4>
  <h4><%= t(:total_price) + ": " + number_to_currency(cart.totalprice_dollars) %></h4>
  <table class="table">
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:price) %></th>
      <th><%= t(:quantity) %></th>
    </tr>
    <% cart.items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= number_to_currency(item.price_dollars) %></td>
        <td><%= cart.manifests.where(item_id: item.id).first.quantity %></td>
      </tr>
    <% end %>
  </table>
<% end %>
