<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Secret Shop" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul>
  <li class="<%= "active" if current_page?("/") %>">
    <%= link_to "Home", root_path %>
  </li>
  <% unless user_signed_in? %>
    <li class="<%= "active" if current_page?("/users/sign_up") %>">
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
    <li class="<%= "active" if current_page?("/users/sign_in") %>">
      <%= link_to "Sign in", new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <% shopkeepers_only do %>
      <li><%= link_to "See orders", shopkeeper_root_path %></li>
    <% end %>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>
    <p>
      Signed in as <%= current_user.email %>
    </p>
  <% end %>  
</ul>

<% flash.each do |key, message| %>
  <div><%= message %></div>
<% end %>
<%= yield %>

</body>
</html>
