<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Secret Shop" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t(:secret_shop), root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?("/") %>">
          <%= link_to t(:home), root_path %>
        </li>
        <% shopkeepers_only do %>
          <li>
            <%= link_to t(:see_orders), shopkeeper_root_path %>
          </li>
        <% end %>
        <% unless user_signed_in? %>
          <li class="<%= "active" if current_page?("/users/sign_up") %>">
            <%= link_to t(:sign_up), new_user_registration_path %>
          </li>
          <li class="<%= "active" if current_page?("/users/sign_in") %>">
            <%= link_to t(:sign_in), new_user_session_path %>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <div class="navbar-right">
          <p class="navbar-text">
            <%= t(:signed_in_as) + " " +  current_user.email %>
          </p>
          <ul class="nav navbar-nav">
            <li><%= link_to t(:sign_out), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>  
    </div>
  </div>
</nav>

<div class="container">
<% flash.each do |key, message| %>
  <div class="alert">
    <%= message %></div>
</div>
<% end %>
<%= yield %>
<div class="dropup">
            <button class="btn btn-default dropdown-toggle pull-right" type="button" id="dropdownLanguageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= t(:language) %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguageMenu">
              <li><%= link_to "English", languages_english_path %></a></li>
              <li><%= link_to "Español", languages_spanish_path %></li>
              <ul>
          </div>
</div>
</body>
</html>
